@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root{
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
    font-weight: 500;
    font-size: 20px;
    min-width: 100%;
    min-height: 50%;
    margin: 0;
    background: #EEEEEE;
}

::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    margin: 0;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    width: 45%;
    color: #EEEEEE;
    background-color:#FF7F50;
}

h {
    font-size: 2rem;
}

.arrow{
    left: 45%;
    width: 5%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 45%;
    overflow-x: hidden;
    transition: 0.2s linear;
}

.sel_arrow {
    width: 0; 
    height: 0; 
    border-top: 49px solid transparent;
    border-bottom: 49px solid transparent;
    border-left: 50px solid #FF7F50;
    transition: 0.2s linear;
}

.right{
    display: flex;
    justify-content: flex-end;
    right: 1%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    width: 55%;
    color: black;
}
#x_button{
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    top: 2.75%;
    right: 85%;
    z-index: -1;
    transform: rotate(135deg);
    transition: linear 0.35s;
}

#x_button::after, #x_button::before{
    content: "";
    position: absolute;
    background: #131c1f;
}

#x_button::after{
    left: 50%;
    width: 15%;
    margin-left: -7.5%;
    height: 100%;
}
#x_button::before{
    top: 50%;
    height: 15%;
    margin-top: -7.5%;
    width: 100%;
  }


.project{
    width: 100%;
    overflow: auto; 
    margin: 0;
    padding-top: 45vh;
    padding-bottom: 45vh;
    direction: rtl;
    font-size: 3.5rem;
    transition: 0.2s linear;
}

.hover{
    font-size: 5rem;
    font-family: "Alata";
    background-color: #EEEEEE;
    scroll-snap-align: center;
}

button{
    font-size: 3.5rem;
    font-family: "Alata";
    text-decoration: none;
    overflow: auto;
    background-color: transparent;
    cursor: pointer;
    width: 90%;
    border: none;
    outline: none;
    text-align: right;
    transition: 0.2s linear;
    color: #131c1f;
    scroll-snap-align: center;
}

p.content{
    padding: 0;
    font-size: 20px;
    width: 90%;
    direction: rtl;
}